<div ng-include="'/app/assets/angular/views/header.html'" ng-controller="HeaderCtrl"></div>
<section class="blog" id="blog">
        <div class="container">
            <div class="row">
                <div class="title text-center ">
                    <h2><span class="color">About Us</span></h2>
                    <div class="border"></div>
                </div>
                <article class="col-md-12 col-sm-12 col-xs-12 clearfix">
                    <div class="post-item">
                        <div class="media-wrapper">
                            <img src="/app/assets/angular/images/service/building2.png" alt="amazing caves coverimage" class="img-responsive">
                        </div>
                        
                        <div class="content">
                            <h2><a href="/secure/home">Grownix Solution</a></h2>
                            <p style="font-size: 18px">Welcome to Grownix Solution, your number one source for web development, graphic design, email hosting, social marketing and many more. We're dedicated to giving you the very best of product and services, with a focus on dependability, customer service and uniqueness.</p>
                            
                            <p style="font-size: 18px">Founded in 2018, Grownix Solution has started its beginnings in Jaipur Rajasthan. When I first started out, my passion for technology drove me to do intense research, built smart and reliable apps and gave me the impetus to turn hard work and inspiration into to a booming platform for technology.</p> 
                            <p style="font-size: 18px">We now serve customers all over the world, and are thrilled to be a part of the well advanced technology industry.
                                    We hope you enjoy our products and services as much as we enjoy offering them to you. If you have any questions or comments, please don't hesitate to contact us.
                            </p>
                            <p style="font-size: 18px">Sincerely,</p>
                            <p><h4 style="color:16163e">Akshay Soni, Founder & CTO</h4></p>
                            <a class="btn btn-main" href="/secure/contact">Contact Us</a>
                        </div>
                    </div>                      
                </article>
            </div>
        </div>
    </section>
<div ng-include="'/app/assets/angular/views/footer.html'"></div>