
 <!--
  Start Preloader
  ==================================== -->
  <div id="preloader">
        <div class='preloader'>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div> 
      <!--
      End Preloader
      ==================================== -->
    
    
      
    
    <!--
    Fixed Navigation
    ==================================== -->
    <header class="navigation navbar navbar-fixed-top">
       <div class="container">
          <div class="navbar-header">
             <!-- responsive nav button -->
             <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
             <span class="sr-only">Toggle navigation</span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
             </button>
             <!-- /responsive nav button -->
             <!-- logo -->
             <h2 class="navbar-brand logo color-white" style="font-size: 30px; padding-top: 15px; font-size: 42px;
                line-height: 1; margin: 0px;">
                 Growni<span class="color-green">X</span>
                <!-- <img class="logo-default" src="/app/assets/angular/images/logo.png" alt="logo" /> -->
                <!-- <img class="logo-white" src="images/logo-white.png" alt="logo" /> -->
             </h2>
             <!-- /logo -->
          </div>
          <!-- main nav -->
          <nav class="collapse navbar-collapse navbar-right">
             <ul id="nav" class="nav navbar-nav menu">
                   <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Homepage <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                         <li><a href="index.html">Homepage</a></li>
                         <li><a href="index-text.html">Homepage 2</a></li>
                         <li><a href="onepage-slider.html">Onepage</a></li>
                         <li><a href="onepage-text.html">Onepage 2</a></li>
                      </ul>
                   </li>
                   <li><a href="about.html">About Us</a></li>
                   <li><a href="service.html">Services</a></li>
                   <li><a href="portfolio.html">Portfolio</a></li>
                   <li><a href="team.html">Team</a></li>
                   <li><a href="pricing.html">Pricing</a></li>
                   <li><a href="contact.html">Contact</a></li>
                   <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pages <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                         <li><a href="404.html">404 Page</a></li>
                         <li><a href="blog.html">Blog Page</a></li>
                      </ul>
                   </li>
                </li>
             </ul>
          </nav>
          <!-- /main nav -->
       </div>
    </header>
    <!--
    End Fixed Navigation
    ==================================== -->
    
    
    
    
         <!--
    Welcome Slider
    ==================================== -->
    
    <section class="hero-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        <h1 class="wow fadeInUp" data-wow-duration=".5s" data-wow-delay=".3s" style="text-transform: none;">Making <span class="color-green">your ideas</span> <br> happen!</h1>
                        <ul class="list-inline wow fadeInUp" data-wow-duration=".5s" data-wow-delay=".7s">
                            <li>
                                <a data-scroll href="#services" class="btn btn-main">Explore Us</a>		
                            </li>
                            <li>
                                <a data-scroll href="#team" class="btn btn-transparent">Contact Us</a>			
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>	
    
    
    <!--
    Start About Section
    ==================================== -->
    <section class="service-2 section">
      <div class="container">
        <div class="row">
    
          <!-- section title -->
          <div class="title text-center"  >
            <h2>What Do We Offer</h2>
            <p>Our expert team of Website Developers & Digital Strategists use cutting edge technology & best practices to create custom sites & product that increase user engagement.</p>
            <div class="border"></div>
          </div>
          <!-- /section title -->
    
          <div class="col-md-4 text-center">
            <img src="/app/assets/angular/images/development.png" class="inline-block image-responsive"  style="width:370px; height: 350px;" alt="">
            <img src="/app/assets/angular/images/development2.png" class="inline-block image-responsive" style="width:400px; height: 350px;"alt="">
          </div>
          <div class="col-md-8">
            <div class="row text-center">
              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="service-item">
                  <i class="fa fa-connectdevelop"></i>
                  <h4>Product Application / Development</h4>
                  <p>Product, website & application development including understanding the requirements of clients and technology to design with cost efficiently.</p>
                </div>
              </div><!-- END COL -->
              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="service-item">
                  <i class="fa fa-cogs"></i>
                  <h4>Automating Testing, QA</h4>
                  <p>Use our Test Automation & Performance Engineering expertise to cut testing time and effort, streamline QA processes, reduce manual testing and optimize costs.</p>
                </div>
              </div><!-- END COL -->
              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="service-item">
                  <i class="fa fa-bar-chart"></i>
                  <h4>Business Intelligence</h4>
                  <p>Better insights to collate relevant disparate data into data warehouses and build dashboards for visualization with our Analytics & Business Intelligence Solutions.</p>
                </div>
              </div><!-- END COL -->
              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="service-item">
                  <i class="fa fa-map"></i>
                  <h4>Social Marketing</h4>
                  <p>Our company excels in Facebook, Instagram and Google Marketing services.  Whether your business is in real estate, consumer products, or nonprofits, we leads your business to success.</p>
                </div>
              </div><!-- END COL -->
            </div>
          </div>
        </div>    <!-- End row -->
      </div>    <!-- End container -->
    </section>   <!-- End section -->
    
    <!--
    Start About Section
    ==================================== -->
    <section class="about-2 section" id="about">
        <div class="container">
            <div class="row">
            
                <!-- section title -->
                <div class="title text-center"  >
                    <h2>We Are Bingo Agency</h2>
                    <div class="border"></div>
                </div>
                <!-- /section title -->
    
                <div class="col-md-6">
                    <img src="/app/assets/angular/images/about/about-2.png" class="img-responsive" alt="">
                </div>
                <div class="col-md-6">
                    <ul class="checklist">
                        <li>Our turn around time is minimum with full assurance on quality.</li>
                        <li>Our charges are very affordable unlike others in the market.</li>
                        <li>We offer 24X7 customer support to answer to your queries whenever required.</li>
                        <li>We offer industry-specific software development services.</li>
                        <li>Our developers are keen on developing interactive software mobile apps too.</li>
                    </ul>
                    <a href="#" class="btn btn-main mt-20">Learn More</a>
                </div>
            </div> 		<!-- End row -->
        </div>   	<!-- End container -->
    </section>   <!-- End section -->
    
    <!--
    Start Call To Action
    ==================================== -->
    <section class="call-to-action section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2>Let's Create Something Together</h2>
                    <p>It’s time to turn the design into reality. All the hard work planning now turns into the final product. We develop with due diligence and care ensuring that what is delivered is responsive, scalable, manageable, in budget and of high quality.</p>
                    <a href="" class="btn btn-main">Contact Us</a>
                </div>
            </div> 		<!-- End row -->
        </div>   	<!-- End container -->
    </section>   <!-- End section -->
    
    <!--
            Start Counter Section
            ==================================== -->
            
            <section  class="counter-wrapper section-sm" >
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <div class="title">
                                <h2>Fastest Growing Agency</h2>
                            </div>
                        </div>
                        <!-- first count item -->
                        <div class="col-md-3 col-sm-6 col-xs-6 text-center " >
                            <div class="counters-item">
                                <i class="tf-ion-ios-alarm-outline"></i>
                                <div>
                                    <span class="counter" data-count="15">15</span>
                                </div>
                                <h3>Happy Clients</h3>
                            </div>
                        </div>
                        <!-- end first count item -->
                    
                        <!-- second count item -->
                        <div class="col-md-3 col-sm-6 col-xs-6 text-center " >
                            <div class="counters-item">
                                <i class="tf-ion-ios-analytics-outline"></i>
                                <div>
                                    <span class="counter" data-count="20">20</span>
                                </div>
                                <h3>Projects completed</h3>
                            </div>
                        </div>
                        <!-- end second count item -->
                    
                        <!-- third count item -->
                        <div class="col-md-3 col-sm-6 col-xs-6 text-center "  >
                            <div class="counters-item">
                                <i class="tf-ion-ios-compose-outline"></i>
                                <div>
                                    <span class="counter" data-count="100">100+</span>
                                </div>
                                <h3>Positive feedback</h3>
                                
                            </div>
                        </div>
                        <!-- end third count item -->
                        
                        <!-- fourth count item -->
                        <div class="col-md-3 col-sm-6 col-xs-6 text-center ">
                            <div class="counters-item kill-border">
                                <i class="tf-ion-ios-bolt-outline"></i>
                                <div>
                                    <span class="counter" data-count="250">250</span>
                                </div>
                                <h3>Cups of Coffee</h3>
                            </div>
                        </div>
                    </div> 	
                </div> 
            </section>
    
    <!-- Start Testimonial
    =========================================== -->
            
        <!-- <section class="testimonial section" id="testimonial">
            <div class="container">
                <div class="row">				
                    <div class="col-lg-12">
                        <div class="testimonial-slider">
                            <div class="item text-center">
                                <i class="tf-ion-chatbubbles"></i>
                                <div class="client-details">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum nulla, soluta dolorum. Eos earum, magni asperiores, unde corporis labore, enim, voluptatum officiis voluptates alias natus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, officia. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, quia?</p>
                                </div>
                                <div class="client-thumb">
                                    <img src="/app/assets/angular/images/akshay.png" class="img-responsive" alt="">
                                </div>
                                <div class="client-meta">
                                    <h3>Akshay Soni</h3>
                                    <span>CEO</span>
                                </div>
                            </div>
                            
                            
                            <div class="item text-center">
                                <i class="tf-ion-chatbubbles"></i>
                                <div class="client-details">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum nulla, soluta dolorum. Eos earum, magni asperiores, unde corporis labore, enim, voluptatum officiis voluptates alias natus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, officia. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, quia?</p>
                                </div>
                                <div class="client-thumb">
                                    <img src="/app/assets/angular/images/client-logo/clients-1.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="client-meta">
                                    <h3>Abul Mal Muhit</h3>
                                    <span>CEO , Company Name</span>
                                </div>
                            </div>
                        </div>
                    </div> 		
                </div>	    
            </div>       
        </section> 
     -->
    <!--
            Start Blog Section
            =========================================== -->
<!--                     
        <section class="blog" id="blog">
            <div class="container">
                <div class="row">
                    <div class="title text-center ">
                        <h2> Latest <span class="color">Posts</span></h2>
                        <div class="border"></div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus facere accusamus, reprehenderit libero inventore nam.</p>
                    </div>
                    <article class="col-md-4 col-sm-6 col-xs-12 clearfix " >
                        <div class="post-item">
                            <div class="media-wrapper">
                                <img src="/app/assets/angular/images/blog/post-1.jpg" alt="amazing caves coverimage" class="img-responsive">
                            </div>
                            
                            <div class="content">
                                <h3><a href="single-post.html">Simple Image Post</a></h3>
                                <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non skateboard dolor brunch.</p>
                                <a class="btn btn-main" href="single-post.html">Read more</a>
                            </div>
                        </div>						
                    </article>
                    <article class="col-md-4 col-sm-6 col-xs-12 "  >
                        <div class="post-item">
                            <div class="media-wrapper">
                                <img src="/app/assets/angular/images/blog/post-2.jpg" alt="amazing caves coverimage" class="img-responsive">
                            </div>
                            
                            <div class="content">
                                <h3><a href="single-post.html">Simple Image Post</a></h3>
                                <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non skateboard dolor brunch.</p>
                                <a class="btn btn-main" href="single-post.html">Read more</a>
                            </div>
                        </div>						
                    </article>
                    <article class="col-md-4 col-sm-6 col-xs-12 "  >
                        <div class="post-item">
                            <div class="media-wrapper">
                                <img src="/app/assets/angular/images/blog/post-3.jpg" alt="amazing caves coverimage" class="img-responsive">
                            </div>
                            
                            <div class="content">
                                <h3><a href="single-post.html">Simple Image Post</a></h3>
                                <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non skateboard dolor brunch.</p>
                                <a class="btn btn-main" href="single-post.html">Read more</a>
                            </div>
                        </div>						
                    </article>
                </div>
            </div>
        </section> -->
    
    <footer id="footer" class="bg-one">
      <div class="top-footer">
        <div class="container">
          <div class="row">
            <div class="col-sm-3 col-md-3 col-lg-3">
              <h3>about</h3>
              <p>We have been applying the cutting edge of technology to power digital transformation in the field of technology and global corporations alike — across all major platforms and tech stacks.</p>
            </div>
            <!-- End of .col-sm-3 -->
    
            <div class="col-sm-3 col-md-3 col-lg-3">
              <ul>
                <li><h3>Our Services</h3></li>
                <li><a href="#">Graphic Design</a></li>
                <li><a href="#">Web Design</a></li>
                <li><a href="#">Web Development</a></li>
                <li><a href="#">Automating Testing, QA</a></li>
                <li><a href="#">Business Intelligence</a></li>
                <li><a href="#">Social Marketing</a></li>

              </ul>
            </div>
            <!-- End of .col-sm-3 -->
    
            <div class="col-sm-3 col-md-3 col-lg-3">
              <ul>
                <li><h3>Quick Links</h3></li>
                <li><a href="#">Partners</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">FAQ’s</a></li>
                <li><a href="#">Badges</a></li>
              </ul>
            </div>
            <!-- End of .col-sm-3 -->
    
            <div class="col-sm-3 col-md-3 col-lg-3">
              <ul>
                <li><h3>Connect with us Socially</h3></li>
                <li><a href="#" class="twitter"><i class="fa fa-twitter w15 mr5"></i>   Twitter</a></li>
                <li><a href="#" class="facebook"><i class="fa fa-facebook w15  mr5"></i> Facebook</a></li>
                <li><a href="#" class="instagram"><i class="fa fa-instagram w15  mr5"></i> Instagram</a></li>
                <li><a href="#" class="google-plus"><i class="fa fa-google-plus w15  mr5"></i> Google Plus</a></li>
                <li><a href="#" class="linkedin"><i class="fa fa-linkedin w15 mr5"></i> LinkedIn</a></li>
              </ul>
            </div>
            <!-- End of .col-sm-3 -->
    
          </div>
        </div> <!-- end container -->
      </div>
      <div class="footer-bottom">
        <h5>Copyright 2018. All rights reserved.</h5>
      </div>
    </footer> <!-- end footer -->
    