<div ng-include="'/app/assets/angular/views/header.html'" ng-controller="HeaderCtrl"></div>
<section class="blog" id="blog">
        <div class="container">
            <div class="row">
                <div class="title text-center ">
                    <h2><span class="color">Services</span></h2>
                    <div class="border"></div>
                    <h4 class="text-muted" style="font-style:italic">"We are trying to be known in the market for the service we provide..."</h4>
                </div>
                <article class="col-md-4 col-sm-6 col-xs-12 clearfix " >
                    <div class="post-item">
                        <div class="media-wrapper">
                            <img src="/app/assets/angular/images/service/graphic2.png" alt="amazing caves coverimage" class="img-responsive">
                        </div>
                        
                        <div class="content">
                            <h3><a href="">Graphic Design</a></h3>
                            <p>We are specialized in designing graphic banners, logo, design, busniness card, cards and many more at one place.</p>
                            <span style="color:16163e">Contact us below for more information...</span>
                            <a class="btn btn-main" href="/secure/contact">Contact Us</a>
                        </div>
                    </div>                      
                </article>
                <article class="col-md-4 col-sm-6 col-xs-12 "  >
                    <div class="post-item">
                        <div class="media-wrapper">
                            <img src="/app/assets/angular/images/service/website-development.png" alt="amazing caves coverimage" class="img-responsive">
                        </div>
                        
                        <div class="content">
                            <h3><a href="">Web Design</a></h3>
                            <p>We are specialized in building websites with logical designs that automatically attract the target customers and will bring your business grow at a rapid pace.</p>
                            <span style="color:16163e">Contact us below for more information...</span>
                            <a class="btn btn-main" href="/secure/contact">Contact Us</a>
                        </div>
                    </div>                      
                </article>
                <article class="col-md-4 col-sm-6 col-xs-12 "  >
                    <div class="post-item">
                        <div class="media-wrapper">
                            <img src="/app/assets/angular/images/development2.png" alt="amazing caves coverimage" class="img-responsive">
                        </div>
                        
                        <div class="content">
                            <h3><a href="">Web Development</a></h3>
                            <p>We are specialized in application development including understanding the requirements of clients and technology to design with cost efficiently.</p>
                            <span style="color:16163e">Contact us below for more information...</span>
                            <a class="btn btn-main" href="/secure/contact">Contact Us</a>
                        </div>
                    </div>                      
                </article>
                <article class="col-md-4 col-sm-6 col-xs-12 "  >
                    <div class="post-item">
                        <div class="media-wrapper">
                            <img src="/app/assets/angular/images/service/testing.png" alt="amazing caves coverimage" class="img-responsive">
                        </div>
                        
                        <div class="content">
                            <h3><a href="">Automation Testing</a></h3>
                            <p>Use our fast and reliable Test Automation & Performance Engineering expertise to cut testing time and effort, streamline QA processes, reduce manual testing and optimize costs.</p>
                            <span style="color:16163e">Contact us below for more information...</span>
                            <a class="btn btn-main" href="/secure/contact">Contact Us</a>
                        </div>
                    </div>                      
                </article>
                <article class="col-md-4 col-sm-6 col-xs-12 "  >
                    <div class="post-item">
                        <div class="media-wrapper">
                            <img src="/app/assets/angular/images/service/bi6.png" alt="amazing caves coverimage" class="img-responsive">
                        </div>
                        
                        <div class="content">
                            <h3><a href="single-post.html">Business Intelligence</a></h3>
                            <p>Better insights to collate relevant disparate data into data warehouses and build dashboards for visualization with our Analytics & Business Intelligence Solutions.</p>
                            <span style="color:16163e">Contact us below for more information...</span>
                            <a class="btn btn-main" href="/secure/contact">Contact Us</a>
                        </div>
                    </div>                      
                </article>
                <article class="col-md-4 col-sm-6 col-xs-12 "  >
                    <div class="post-item">
                        <div class="media-wrapper">
                            <img src="/app/assets/angular/images/service/marketing2.png" alt="amazing caves coverimage" class="img-responsive">
                        </div>
                        
                        <div class="content">
                            <h3><a href="single-post.html">Social Marketing</a></h3>
                            <p>Our company excels in Facebook, Instagram and Google Marketing services. Whether your business is in real estate, consumer products, or nonprofits, we leads your business to success.</p>
                            <span style="color:16163e">Contact us below for more information...</span>
                            <a class="btn btn-main" href="/secure/contact">Contact Us</a>
                        </div>
                    </div>                      
                </article>
                <article class="col-md-4 col-sm-6 col-xs-12 "  >
                    <div class="post-item">
                        <div class="media-wrapper">
                            <img src="/app/assets/angular/images/service/email.png" alt="amazing caves coverimage" class="img-responsive">
                        </div>
                        
                        <div class="content">
                            <h3><a href="single-post.html">Email Hosting</a></h3>
                            <p>We provide business email support to domain users. A secure, fast, ad-free email for business.</p>
                            <span style="color:16163e">Contact us below for more information...</span>
                            <a class="btn btn-main" href="/secure/contact">Contact Us</a>
                        </div>
                    </div>                      
                </article>
            </div>
        </div>
    </section>
<div ng-include="'/app/assets/angular/views/footer.html'"></div>