<div ng-include="'/app/assets/angular/views/header.html'" ng-controller="HeaderCtrl"></div>

<section class="service-2 section team2">
    <div class="container">
        <div class="row team-row">
            <div class="text-center">
                <h2>Our Team</h2>
                <div class="border"></div>
                <h3 class="text-muted text-center" style="font-style: italic">"Individuals can and do make a difference, but it takes a team to really mess things up."</h3>
            </div>
        </div>
    </div>    
</section>  
<section class="testimonial section" id="testimonial">
    <div class="container">
        <div class="row">				
            <div class="col-lg-12">
                <div class="testimonial-slider">
                    <div class="item text-center">
                        <div class="col-sm-12">
                            <i class="tf-ion-social-facebook"></i>
                            <i class="tf-ion-social-twitter"></i>
                            <i class="tf-ion-social-dribbble-outline"></i>
                            <i class="tf-ion-social-linkedin-outline"></i>    
                        </div>
                        <div class="client-details">
                            <p>Akshay Soni is the founder and Chief Technical Officer of the Grownix Solution who is holding the B-Tech degree in Computer Science. He is a entrepreneur who love to build product, friend of neat computer architecture and efficient implementation. Building great product and finding their sweet spot is what driven him. One of the guy who likes cars and loves to cook food.</p>
                        </div>
                        <div class="client-thumb">
                            <img src="/app/assets/angular/images/Akshay.png" class="img-responsive" alt="">
                        </div>
                        <div class="client-meta">
                            <h3>Akshay Soni</h3>
                            <h5 class="strong">Founder & CTO</h5>
                        </div>
                    </div>
                    
                    
                    <div class="item text-center">
                        <div class="col-sm-12">
                            <i class="tf-ion-social-facebook"></i>
                            <i class="tf-ion-social-twitter"></i>
                            <i class="tf-ion-social-dribbble-outline"></i>
                            <i class="tf-ion-social-linkedin-outline"></i>    
                        </div>
                        <div class="client-details">
                            <p>Vineet Vijay is the Chief Executive Officer of the Grownix Solution who is holding the B-Tech degree in Electronics. He sets the vision and direction for the team, and oversees all company strategy, business activities and operation. Playing cricket tournaments and singing are his favourite hobbies.</p>
                        </div>
                        <div class="client-thumb">
                                <img src="/app/assets/angular/images/Vineet.jpeg" class="img-responsive" alt="">
                        </div>
                        <div class="client-meta">
                            <h3>Vineet Vijay</h3>
                            <h5 class="strong">CEO</h5>
                        </div>
                    </div>
                </div>
            </div> 		
        </div>	    
    </div>       
</section>  
<div ng-include="'/app/assets/angular/views/footer.html'"></div>              

