.sticky-header {
    color: #0c2e8a;;
      font-family: "Montserrat", sans-serif;
    font-weight: 700;
}
.sticky-header span {
  color: #50d8af;;
}
.sticky-header .navbar-brand {
  color: #0c2e8a;;
}
.color-white {
  color : #fff;
}
.color-green {
  color: #50d8af;
}
.mr5 {
  margin-right: 5px;
}

.w15 {
  width:15px;
}
.dropLink {
  font-size: 20px;
  position: relative;
}

.darkHeader {
  background: rgba(0,0,0,0.8);
}

.team2 {
  padding: 100px 0;
  padding-bottom: 10px !important;
  background: #F6F6F6;
}